.VisionContainer {
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 70vw 1fr;
    grid-template-rows: 28vh 1fr;

    grid-template-areas:
        "VisionText VisionVideo"
        "VisionPoints VisionVideo";
    padding-left: 5vw;
}

.VisionContainer article:nth-child(1) {
    grid-area: VisionText;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.VisionText {
    height: 95%;
    width: 90%;
    background-color: var(--color_pink);
    border-radius: 0 0 0 5vw;
    color: var(--color_font_white);
    padding: 1vh 3vw;
    font-size: calc(100vw/70);

    display: flex;
    justify-content: center;
    align-items: center;

}

.VisionText strong {
    font-family: "Lexend-ExtraBold";
    padding: 0 10px;
}

.VisionContainer article:nth-child(2) {
    grid-area: VisionPoints;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.VisionPoints>div:nth-child(1) {
    font-family: "Lexend-ExtraBold";
    color: var(--color_blue);
    font-size: calc(100vw/30);
    align-self: flex-start;
}

.VisionPoints>div:nth-child(2) {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.pdfDownloadContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveSections 3s;
    animation-timing-function: cubic-bezier(.05, .64);
}

.visionPdfdownload {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
    animation: relevantElement 1s infinite alternate;
    /* transform: translateX(100vw); */
}

.visionPdfdownload img {
    width: 2.5vw;
    height: 6.5vh;
    margin-right: 0.5vw;
}

.visionPdfdownload a {
    color: var(--color_font_white);
    background-color: var(--color_purple);
    width: 90%;
    height: 80%;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(50% / 0.7);
}

.visionPdfdownload a p {
    width: 70%;
}

.VisionContainer article:nth-child(3) {
    grid-area: VisionVideo;
}

.VisionVideo {
    /* padding: 1vh 1vw; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes relevantElement {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
    .VisionContainer {
        height: auto;

        grid-template-columns: 1fr;
        grid-template-rows: 35vh 70vh 100vh;
    
        grid-template-areas:
            "VisionText "
            "VisionPoints "
            "VisionVideo";
        padding-left: 0;
    }
    
    .VisionContainer article:nth-child(1) {
        grid-area: VisionText;
        justify-content: center;
        align-items: center;
    }
    
    .VisionText {
        height: 100%;
        width: 95%;
        border-radius: 2vw;
        padding: 3vh 3vw;
        font-size: calc(100vw/30);
        text-align: center;
    }
    
    .VisionText strong {
        padding: 0;
    }
    
    .VisionContainer article:nth-child(2) {
        grid-area: VisionPoints;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
    
    .VisionPoints>div:nth-child(1) {
        font-size: calc(100vw/10);

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .VisionPoints>div:nth-child(2) {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
    }
    
    .pdfDownloadContainer {
        width: 100%;
        height: 10vh;
    }

    .visionPdfdownload {
        width: 90%;
    }
    
    .visionPdfdownload img {
        width: 7vw;
        height: 4vh;
        margin-right: 2vw;
    }
    
    .visionPdfdownload a {
        font-size: calc(100vw/35);
    }
    
    .VisionContainer>article:nth-child(3) {
        grid-area: VisionVideo;
    }
    
    .VisionVideo {
        /* padding: 1vh 1vw; */
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    
}